.menu {
	background-color: #1f1f1f;
	padding: 4px;
	display: flex;
	flex-direction: column;
	width: max-content;
	border-radius: 5px;
	gap: 4px;
}

.option {
	padding: 8px 20px;
	border-radius: 4px;
}

.option:hover {
	background-color: #464646;
}