.list {
    display: flex;
    gap: 20px;
    transition: 0.1s;
}

.title {
    font-weight: 900;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container {
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    margin-bottom: 20px;
}

.show {
    cursor: pointer;
    color: gray;
    transition: 0.1s;
}

.show:hover {
    color: white;
}