.main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.headerGradient {
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 200px;
    z-index: 0;
}

